// _colors.scss

// Primary Colors
$primaryColor: #937dc2;
$primaryColorDark: #0056b3;
$primaryColorLight: #4d94ff;

// Secondary Colors
$secondaryColor: #6c757d;
$secondaryColorDark: #495057;
$secondaryColorLight: #b0b3b6;

// Accent Colors
$accentColor: #ff5722;
$accentColorDark: #e84118;
$accentColorLight: #ff884d;

// Background Colors
$backgroundColor: #f0f0f0;
$backgroundColorDark: #222;
$backgroundColorLight: #fff;

// Text Colors
$textColorBlack: #4d4c4c;
$textColorBlackLight: #7b7881;
$textColorLightPurple: rgba(147, 125, 194, 0.6);
$textColorDark: #000;
